@page {
    size: ${paperSize} ${orientation};
    margin: 0;
}
html, body {
    height: ${pageHeight}mm;
    width: ${pageWidth}mm;
    margin: 0;
}
.pageA, .pageB { /*do not combine html body selector here!*/ 
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    font-size: ${fontSize};
    font-family: Arial, Liberation Sans, sans;
}
.pageA, .pageB {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    page-break-after:always;
}
.pageB {
    flex-direction: ${flexDirection};
}
.cardA, .cardB {
    box-sizing: border-box;
    overflow: hidden;
    width: ${cardWidth};
    height: ${cardHeight};
    padding: ${cardPadding};
}
.cardA {
    border-bottom: dashed ${borderWidth}px grey;
    border-right: dashed ${borderWidth}px grey;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.playImage, .replay-button, .soundLink, .noPrint {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
}
